.navbar-wrapper {
  width: 100%;
  overflow: hidden;
  z-index: 1;
  position: fixed;
  top: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  background-image: url("../../assets/img/bg.jpg");
  background-size: cover;
}
.navbar-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}
.navbar-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--white);
}
.navbar-left span {
  color: var(--white);
}
.navbar-right {
  flex: 1;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 400;
}
.navbar-list {
  flex: 10;
}
.navbar-list > ul {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin: 4rem;
}
.navbar-list-li {
  color: var(--white);
}

.navbar-list-li:hover {
  cursor: pointer;
  color: var(--dark-orange);
  transform: scale(1.05);
}

/* Queries */
@media screen and (max-width: 480px) {
  .navbar-wrapper {
    display: none;
  }
}
