.toggle-container {
  position: relative;
  display: flex;
  border: 3px solid var(--dark-orange);
  border-radius: 15px;
  padding: 2px;
  gap: 5px;
  cursor: pointer;
}
.toggle-container > * {
  color: var(--dark-orange);
  width: 15px;
  height: 15px;
}
.toggle-btn {
  position: absolute;
  background-color: var(--dark-orange);
  border-radius: 100%;
}
.toggle-btn:hover {
  scale: 1.1;
}
